@font-face {
    font-family: 'robotoregular';
    src: url('/assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html,
body {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    margin: 0;
    box-sizing: inherit;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

ul {
    list-style-type: none;
}

li:nth-child(3)::before {
    content: '';
    display: inline-block;
    height: 1.4rem;
    width: 1.4rem;
    vertical-align: middle;
    background-image: url(assets/icons/home.svg);
    color: #ffffff;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.5rem;
}

.sidebar {
    background: #1e90ff;
    color: white;
    font-size: 1.5rem;
    line-height: 1.9;
    font-weight: bold;
}

.main {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.header {
    position: relative;
    padding: 0 48px;
    display: grid;
    grid-template-rows: 2fr 3fr;
    box-shadow: 2px 2px 12px rgba(128, 128, 128, 0.6);
    z-index: 1;
}

.first-row {
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-top: 12px;
}

.left-first-row,
.left-second-row {
    display: flex;
    grid-column: 1 / 2;
    align-items: center;
}

#search-bar {
    font-size: 1.1rem;
    padding: 4px 8px;
    background-color: lightgrey;
    border-radius: 12px;
    border: none;
    margin-left: 24px;
    margin-right: 192px;
    flex: 1;
    height: fit-content;
}

.right-first-row {
    display: flex;
    gap: 24px;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.second-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.greetings {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.3;
    margin-left: 16px;
}

.tag {
    font-size: 1.5rem;   
}

.right-second-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
}

button {
    font-size: 1rem;
    font-weight: bold;
    padding: 12px 32px;
    border-radius: 24px;
    border: none;
    color: white;
    background-color: #1e90ff;
}

.container {
    background-color: lightgray;
    padding: 18px 24px 0px 16px;
}

.titles {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.sections {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-top: 4px;
    gap: 24px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

h2 {
    line-height: 1.5;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border-left: 8px solid orange;
    background: white;
    padding: 24px 24px 24px 20px;
    line-height: 1.2;
    justify-content: space-between;
    box-shadow: 2px 2px 12px rgba(128, 128, 128, 0.6);
}

.card-text {
    max-inline-size: 55ch;
}

.card-text p {
    font-size: 1.1rem;
    color: darkslategray;
}

.card-icons {
    display: flex;
    gap: 30px;
    justify-self: flex-end;
    align-self: self-end;
    padding-top: 64px;
}

.others {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.announcements {
    display: grid;
    border-radius: 8px;
    background-color: white;
    padding: 32px;
    max-inline-size: 50ch;
    gap: 4px;
    box-shadow: 2px 2px 12px rgba(128, 128, 128, 0.6);
}

.announce-card {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgrey;
    line-height: 1.2;
    gap: 2px;
}

.announce-card p {
    color: darkslategray;
}

.announce-card.last {
    border: none;
}

.trending-title {
    padding-bottom: 8px;
}

.user-trending-container {
    background-color: white;
    border-radius: 8px;
    padding: 8px 0;
    box-shadow: 2px 2px 12px rgba(128, 128, 128, 0.6);
}

.user {
    display: flex;
    align-items: center;
    padding: 8px 0 8px 12px;
}

.user-text {
    font-size: 1.1rem;
    line-height: 1.2;
    margin-left: 12px;
}

.user-text p {
    color: darkslategray;
}


